.banner {
    height: 80px;
    margin: 0px -10px 10px;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1 {
    color: rgb(0, 0, 0);
    margin-left: 2%;
    font-family: monospace;
    font-weight: bold;
}

.banner img {
    height: 70px;
    margin-right: 15px;
}

.main-div {
    padding: 20px;
    height: auto; /* Changed to auto */
    width: 100%; /* Changed to 100% */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.frame {
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(191, 188, 188, 0.219);
    overflow-x: scroll;
    border: 2px solid black;
}

.forecast-graph {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(191, 188, 188, 0.219);
    overflow-x: scroll;
    border: 2px solid black;
}


.main-div {
    padding: 20px; /* Ek baar hi define karein */
    display: flow; /* Yeh property hata dein agar aapko nahi lagta yeh zaruri hai */
    height: 200vh; 
    /*sufficient for without foreign stock*/
    width: auto;
    background-size: cover; /* Ensure the background image covers the entire container */
     background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin-top: -15px;
}



@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }
    .banner h1 {
        margin-top: 10px;
    }
    .banner Img {
        margin-top: 10px;
        margin-right: 0;
    }
    .frame {
        margin-top: auto;
        overflow-x: auto;
    }

}

.input {
    color: azure;
    margin-top: -10px;
    display: inline-block;
    padding: 2%;
    font-size: 20px;
    position: relative; /* Add position: relative to create a positioning context */
    
}

.input input {
    font-size: large;
    color-scheme: dark;
    
}

.alert-container {
    background-color: #000000;
    text-align: center;
    padding: 5px;
    font-size: larger;
    transform: 20px;
    color: rgb(128, 255, 0);
    visibility: hidden;
    transform: translate();
}

.submit-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    font-weight: bolder;
    font-size: 2vb;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    padding-left : 20px;
    padding-right: 20px;
    margin-top: -10px;
    margin-left: -6px;
    border-color: solid black;
    align-self: right;
    
}
.submit-button:hover {
    background-color: #000000;
    color: #c3ff00;
    font-size:2vb;
    border-radius: 45px;
    border-color: #ffffff !important;
}

.input-label{
    color: white;
    margin-top: -10px;
    font-size: 20px;
}

.input-labell{
    color: white;
    margin-top: -10px;
    font-size: 20px;
}
.input-field{
    margin-top: -10px;
    margin-left: 10px;
    color: rgb(151, 151, 151);
    display: flex;
    margin-bottom: 10px;
}
.input-fieldd{
    margin-left: 10px;
    border-color: rgb(0, 0, 0) !important;
    display: flex;
    margin-bottom: 10px;
    padding: 7px;
}

.input-container{
    color: #000000 !important;
    background-color: #000000;
    margin-top: -10px;
    height: auto; /* Changed to auto */
    width: 100%; /* Changed to 100% */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.forecast-graph-container{
    margin-top: 20px; /* Add margin to the top of the forecast graph */
}
.loading-outputt{
  color:#000000;
  margin-top: -370px;
}
/* Custom CSS to change the color of the Dash debug menu */
.dash-debug-menu {
    background-color: black !important;
    color: white !important;
    border: 3px solid white !important;
}

.dash-debug-menu:hover{
    background-color: rgb(74, 6, 89) !important;
}

.para-container {
    display: flex;
    justify-content: space-between;
}

.para1,
.para2 {
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 45px;
    font-family: sense;
    color: rgb(255, 255, 255);
    width: calc(50% - 20px); /* Adjust width to leave space between paragraphs */
    line-height: 1.5;
    margin-top: 20px;
}
.hhr{
    color:black;
    background-color: #000000;
    fill: #000000;
    opacity: 100%;
    margin-top: -2px;
}
/* For Chrome, Safari, and Opera */

::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    visibility: hidden;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
    visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
    visibility: hidden;
}
.body{
    background-color: #000000 !important;
}
.ml-auto:hover{
    background-color: black;
}